<div class="container">
  <div class="registration-info">
    <h2>Welcome to the Angular World Tour!</h2>
    <p>
      Register using the form you find in the next page to embark on a
      three-week journey into the exciting world of Angular.
    </p>
  </div>
  <div class="angular-image">
    <img src="./assets/angular.jpeg" alt="Angular World Tour" />
  </div>

  <div class="joking-sentence">
    <p>
      Are you ready to unlock the secrets of Angular and become a web
      development wizard?
    </p>
    <p>
      Learn Angular, and you'll be speaking the language of the future -
      Angularish!
    </p>
    <p>Angular: The gateway drug to a lifelong passion for web development.</p>
  </div>
</div>
